.container__body-mob{
    display: grid;
    grid-template-areas: 
    "nav__mob"
    "main__mob"
    "footer__mob";
}
.nav__mob{
    grid-area: nav__mob;
}
.nav__mob, .nav__mob-menu{
    display: flex;
    justify-content: space-between;
    background: var(--gradient-background-blck);
}
.nav__mob-menu{
    transition: 0.6s;
}
.main__mob{
    display: flex;
    flex-direction: column;
    gap: 1em 1em;
}