.genre__music{
    position: relative;
    min-width: 298px;
    height: 290px;
    border-radius: 8px;
    padding: 1em;
    overflow: hidden;
    cursor: pointer;
}
.genre__music > a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
.genre__music > a > #cardImg{
    text-align: center;
    position: absolute;
    right: -25px;
    bottom: -15px;
    rotate: 40deg;
    transition: 0.6s;
}
.genre__music > a > h5{
    text-align: center;
    font-size: 30px;
    color: #fff;
}
.genre__music > a > #cardImg > img{
    width: 160px;
    height: 160px;
    object-fit: contain;
    border-radius: 8px;
    box-shadow: 2px 5px 15px #000000;
}
#christmas{
    background-color: #346a50;
}
#pop-mix{
    background-color: #603d75;
}
#novidades{
    background-color: #2a3e64;
}
#creators{
    background-color: #431919;
}
#treino{
    background-color: #d615a0;
}
#podcasts{
    background-color: #6082c0;
}
#sertanejo{
    background-color: #9161ad;
}
#pagodeira{
    background-color: #3aaf36;
}
#funk{
    background-color: #3a5c96;
}
#mpb{
    background-color: #a71818;
}
#rock{
    background-color: #e08916;
}
#rap{
    background-color: #ea73e8;
}
#indie{
    background-color: #5799b4;
}
#chill{
    background-color: #2dc35f;
}
#latinas{
    background-color: #53391d;
}