.main{
    grid-area: main;
    display: grid;
    grid-template-areas: 
    "main__nav"
    "main__content";
    grid-template-rows: 10% auto;
    overflow: auto;
    font-family: "DM Sans", sans-serif;
    background: var(--gradient-background);
    border-radius: 8px;
}
.main__content{
    grid-area: main__content;
    grid-template-areas: 
    "main__content-title"
    "main__content-items";
    grid-template-rows: 10% auto;
    display: grid;
    gap: 0.5em;
    padding: 1em;
    overflow: auto;
    -ms-overflow-style: none;
}
.hidden{
    display: none;
}
.main__content-items::-webkit-scrollbar{
    display: none;
}
.main__content-title{
    align-self: center;
}
.main__content-items{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 3em;
    overflow: auto;
    -ms-overflow-style: none;
}
.main__content > .main__content-title{
    font-family: "Arial", sans-serif;
    color: #fff;
    font-size: 22px;
    font-weight: 800;
}